#gamePage {
  display: flex;
  justify-content: space-between;
  background-color: rgb(227, 227, 228);
  height: 100%;
  width: 100%;
  padding-top: 5px;
}

/* .leftRight {
  margin: auto;
} */

#leftGamePage {
  margin-left: 5%;
  width: 75%;
}

#rightGamePage {
  width: 25%;
}

#rightContainerGame {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin-top: 25%;
  margin-right: 10%;
  background-color: rgb(255, 255, 143);
  border: double 10px rgb(244, 255, 185);
  border-radius: 30px;
  zoom: 90%;
}

#gameSettings {
  padding-top: 15px;
}

#gameInfoContainer {
  display: flex;
  float: left;
  justify-content: space-between;
  height: 10%;
}

.gameInfo {
  font-weight: bold;
  width: 20%;
  text-align: center;
}

.gameLbl {
  /* margin: 10px 0px 10px 0px; */
  border-radius: 10px;
  text-align: center;
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(244, 255, 185);
  box-sizing: border-box;
  resize: vertical;
  font-family: "Exo";
  font-size: 16px;
  font-weight: bold;
  width: 80%;
}

#canvasDiv {
  height: 90%;
  width: 100%;
  float: left;
  margin-top: 5px;
}

#canvas {
  border: black 5px;
  border-style: solid;
  border-radius: 30px;
  width: 70%;
  height: 93%;
  margin-left: 10%;
}

#newRound {
  border-radius: 15px;
  padding: 10px;
  border: 5px solid white;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: "Exo";
  font-size: 18px;
  font-weight: bold;
  transition: transform 0.2s;
}

#newRound:hover {
  background-color: rgb(244, 255, 185);
  font-weight: bold;
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.1);
}

h4 {
  text-decoration: underline;
}

input#un-mute {
  display: none;
}

.unmute img {
  display: none;
}

.mute {
  zoom: 10%;
}

input#un-mute:checked ~ .unmute img {
  display: initial;
  zoom: 10%;
}

input#un-mute:checked ~ .mute img {
  display: none;
  zoom: 10%;
}

#muteBtn {
  margin-left: 70%;
}
