#settingsPage {
  justify-content: space-between;
  display: flex;
  height: 100%;
  width: 100%;
  background-image: url("../media/images/Wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#accordion {
  font-family: "Exo";
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  width: 40%;
  margin-left: 10%;
  margin-top: 1%;
}

.foodSlider {
  -webkit-appearance: none;
  width: 40%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.foodSlider:hover {
  opacity: 1;
}

.foodSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4caf50;
  cursor: pointer;
}

.foodSlider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4caf50;
  cursor: pointer;
}

#rightPageSettings {
  width: 50%;
  height: 100%;
}

#minutes,
#seconds,
#monstersAmount,
.kbrd {
  width: 30%;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(244, 255, 185);
  box-sizing: border-box;
  resize: vertical;
  padding: 12px;
  font-family: "Exo";
  font-size: 14px;
  text-align: center;
}

.settingButton {
	box-shadow:inset 0px 1px 0px 0px #d26ee6;
	background:linear-gradient(to bottom, #dfa4eb 5%, #d27fe3 100%);
	background-color:#dfa4eb;
	border-radius:10px;
	border:2px solid #ab4fbd;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:"Exo";
	font-size:15px;
	font-weight:bold;
	padding:10px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #9a10b5;

  width: 25%;
  display: block;
  margin-left: 30%;
  margin-top: 7%;
}
.settingButton:hover {
	background:linear-gradient(to bottom, #d27fe3 5%, #dfa4eb 100%);
	background-color:#d27fe3;
}
.settingButton:active {
	position:relative;
	top:1px;
}

#newGame{
  margin-top: 20%;
  transition: all 0.1s ease;

}

#newGame:hover {
  transform: scale(1.4);
  
}

#lblOff{
  float: right;
}
#soundOff {
  float: right;
  margin-top: 4px;
  margin-left: 2px;
}

#soundValue,
#volumeValue{
  float: left;
}