#settingsPage {
  justify-content: space-between;
  display: flex;
  height: 100%;
  width: 100%;
  background-color: rgb(236, 215, 255);
}

#accordion {
  font-family: "Exo";
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  width: 50%;
  margin-left: 42px;
}

#sound {
  text-align: center;
}

.foodSlider {
  -webkit-appearance: none;
  width: 40%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.foodSlider:hover {
  opacity: 1;
}

.foodSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4caf50;
  cursor: pointer;
}

.foodSlider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4caf50;
  cursor: pointer;
}

#rightPageSettings {
  background-image: url("../media/5.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 50%;
  height: 100%;
}
