#signUpPage,
#loginPage {
  background-image: url("../media/images/Wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: none;
}

#loginForm {
  margin: 10% 35% 10% 35%;
}

#signUpForm {
  margin: 2.5% 35%;
}

form {
  position: absolute;
  width: 30%;
  padding: 15px;
  text-align: left;
  background-color: rgb(255, 255, 143);
  border: double 10px rgb(244, 255, 185);
  border-radius: 30px;
  zoom: 80%;
}

.text,
input[type="password"],
textarea {
  width: 100%;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(244, 255, 185);
  box-sizing: border-box;
  resize: vertical;
  padding: 12px;
  font-family: "Exo";
  font-size: 14px;
}

#submit,
#loginbtn {
  border-radius: 15px;
  padding: 7px 30px;
  border: 5px solid white;
  cursor: pointer;
  margin: 0 auto;
  display: flex;
  font-family: "Exo";
  font-size: 18px;
  transition: transform 0.2s;
}

#submit:hover,
#loginbtn:hover {
  background-color: rgb(244, 255, 185);
  font-weight: bold;
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.1);
}

.valid {
  font-weight: bold;
}

.error {
  color: red;
  font-weight: bold;
}
