*,
html {
  margin: 0;
}

body {
  font-family: "Exo";
  height: 100vh;
}

#content {
  height: 82%;
}

.monsters {
  zoom: 3%;
  display: none;
  opacity: 0.5;
}

#cure {
  display: none;
}

#movingScore {
  zoom: 3%;
  display: none;
}

#clock {
  display: none;
}

/* //dialog */
dialog {
  /* background-color: var(--bg); */
  /* color: var(--text-color); */
  text-align: center;
  border: none;
  padding: 2rem;
  border-radius: 6px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.25);
  max-width: 90vw;
  font-family: "Exo";
}

dialog[open] {
  animation: appear 0.15s cubic-bezier(0, 1.8, 1, 1.8);
}

/* dialog::backdrop {
  background: linear-gradient(
    45deg,
    rgba(0, 143, 104, 0.5),
    rgba(250, 224, 66, 0.5)
  );
} */

dialog .actions {
  display: flex;
  justify-content: space-around;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateX(-3rem);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
